// ======================================================== //
// === FONTS === //

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;


// ======================================================== //
// === COLOR PALETTE === //

$color-light: #ffffff;
$color-grey: #e0e0e0;
$color-dark: #000000;
$color-shade: #2a2a2a7d;

$color-global-button: #e3ff38;
$color-button-whatsapp: #40cf4b;

$color-global-1: #0c5635;
$color-global-2: #02c268;
$color-global-3: #d2ecd8;
$color-global-4: #00446d;
$color-global-5: #3ec1d3;
$color-global-6: #c9e9ed;
$color-global-7: #c7fff7;


// ======================================================== //
// === RESPONSIVE BREAKPOINTS === //

$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: calc($breakpoint-lg + 1px);


// ======================================================== //
// === MIXINS === //

// Media queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
        @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
        @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == xl {
        @media (min-width: $breakpoint-xl) { @content; }
    }
}

// Centrado flexbox
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


// ======================================================== //
// === KEYFRAMES === //

@keyframes slideInLeft {
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInUp {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideInDown {
    to { opacity: 1; transform: translateY(0); }
}


// ======================================================== //
// === BASE STYLES === //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $color-light;
}

section {
    padding-bottom: 100px;
    gap: 20px;
    background-color: $color-grey;

    @include flex-center;

    .row {
        @include flex-center;
        max-width: $breakpoint-lg;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: stretch;

        @include respond-to(md) {
            flex-direction: column;
            align-items: center;
        }
    }

    .col {
        padding: 0 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 10px;

        @include respond-to(md) { max-width: $breakpoint-sm; }

        &.image-container {
            width: 80%;
            min-height: 200px;

            @include respond-to(md) { width: 100%; }

            @include respond-to(lg) { height: auto; }
        }
    }

    // Alternar colores de artículos
    &:nth-of-type(2n + 2) { 
        --section-color-1: #{$color-global-1}; 
        --section-color-2: #{$color-global-2};
        --section-color-3: #{$color-global-3};
    }
    &:nth-of-type(2n + 1) {
        --section-color-1: #{$color-global-4}; 
        --section-color-2: #{$color-global-5};
        --section-color-3: #{$color-global-6};
    }
}

.side-image {
    border: 5px solid var(--section-dark-color);
    box-shadow: $color-shade 5px 5px 10px;

    @include respond-to(lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include respond-to(xl) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include respond-to(md) {
        width: 100%;
        height: auto;
        position: static;
    }
}

article {
    width: 100%;
    color: $color-dark;
    border-radius: 10px;
    padding: 15px;
    padding-left: 25px;
    position: relative;
    text-align: center;

    p { font-size: 1.2em; }

    ul { list-style-type: none; }
}

.card {
    margin-top: 40px;
    background-color: var(--section-color-1);
    border-radius: 13px;
    padding: 10px;

    @include flex-center;

    h4 {
        width: 100%;
        padding: 10px;
        font-size: 2em;
        text-align: center;
        color: $color-light;
    }

    p {
        font-size: 1.2em;
        margin: 20px 0 30px;
        text-align: center;
    }

    .card-content {
        width: 100%;
        display: flex;
        @include respond-to(md) { flex-direction: column; }
        gap: 10px;

        &:not(:last-of-type) { margin-bottom: 10px; }
    }

    .card-small {
        width: 100%;
        background-color: var(--section-color-3);
        color: var(--section-color-1);
        border-radius: 10px;
        padding: 20px;
        text-align: center;

        h5 {
            font-size: 1.5em;
            color: var(--section-color-1);
            margin-bottom: 20px;
        }

        p { margin: 0; }
        
        i {
            color: var(--section-color-1);
            font-size: 2.5em;
            margin-bottom: 20px;
        }
    }
}

.article-card {
    width: 100%;
    background-color: var(--section-color-1);
    border-radius: 20px;
    margin-bottom: 10px;

    h3 {
        border-radius: 10px 10px 0 0;
        text-align: left;
        font-size: 26px;
        text-shadow: $color-shade 3px 3px;
        color: $color-light;

        .icon { 
            color: $color-light;
            font-size: 1.2em;
            margin-right: 20px;
        }
    }

    article {
        width: calc(100% - 10px);
        margin-left: 10px;
        border: 5px solid var(--section-color-1);
        border-radius: 20px;
        box-shadow: none;
        background-color: $color-light;
        text-align: start;

        & > ul {
            list-style: inside disc;

            li {
                margin-bottom: 20px;

                &::marker {
                    color: var(--section-color-1);
                    font-size: 1.2em;
                }

                ul {
                    list-style-type: circle;
                    margin-left: 25px;
                    margin-top: 5px;

                    a { color: var(--section-color-1); } 

                    li { margin: 0; }
                }
            }

            li:last-child { margin: 0; }
        }

        b { 
            color: var(--section-color-1); 
            font-size: 1.1em;
        }
    }
}

h1, h2, h3 {
    font-family: $font-secondary;
    color: var(--section-color-2);
    width: 100%;
    padding: 15px;
    text-align: center;
}

h2 { 
    font-size: 3em; 
    @include respond-to(md) { font-size: 2.3em; }
    padding: 20px;
    background-color: var(--section-color-1);
    color: $color-light;
    border-bottom: 10px solid var(--section-color-2);
    line-height: 1.1em;
}

h3 { 
    font-size: 2em; 
    color: var(--section-color-1);
}

h4 { 
    font-family: $font-secondary; 
    line-height: 1.2em;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
}

.icon {
    color: var(--section-color-1);
    font-size: 1.5em;
}

.button {
    display: inline-block;
    width: 100%;
    background-color: $color-global-button;
    color: $color-dark;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 1.2em;
    cursor: pointer;
    box-shadow: $color-shade 0 0 10px;
    margin: auto;
    max-width: $breakpoint-sm;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: $color-shade 0 5px 15px; 
    }

    span:nth-of-type(2) {
        font-size: 0.5em;
        font-weight: normal;
    }
}


// Clase base para todos los elementos que se van a animar
[class^="anim-slide-"] {
    opacity: 0; // Invisibles por defecto
    animation-fill-mode: forwards; // Mantiene el estado final (visible) al terminar
}

.anim-slide-left  { 
    transform: translateX(-100px); 
    animation: slideInLeft 0.8s ease-out forwards; 
}
.anim-slide-right { 
    transform: translateX(100px); 
    animation: slideInRight 0.8s ease-out forwards; 
}
.anim-slide-up    { 
    transform: translateY(50px); 
    animation: slideInUp 0.8s ease-out forwards; 
}
.anim-slide-down  { 
    transform: translateY(-50px); 
    animation: slideInDown 0.8s ease-out forwards; 
}

// Retrasar la entrada
.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.6s; }


// ======================================================== //
// === SPECIFIC STYLES === //

// MAIN HEADER
#main-header {
    position: relative;
    overflow: hidden;
    background: none;
    padding: 40px;

    &::before {
        content: '';
        position: absolute;
        inset: -20px;
        z-index: -1;
        background: 
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("../img/imagen2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0px);
        transform: scale(1.1);
    }
    
    .row {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 3.5em;
        padding: 0;
        color: $color-light;
    }

    h2 {
        border: none;
        text-shadow: none;
        box-shadow: none;
        background: none;
    }

    p {
        text-align: center;
        font-size: 1.2em;
    }
}

// "¿CÓMO FUNCIONA?"
#como-funciona {
    .card {
        width: 100%;
        max-width: $breakpoint-md;
        margin: auto;
    }
}

// "TIPO DE LOGROS"
#tipos {
    h4:nth-of-type(2) {
        margin-top: 40px;
    }
}

// "RECONOCIMIENTO PÚBLICO"
#reconocimiento {
    .card {
        width: 100%;
        background-color: var(--section-dark-color);
        border: none;
        border-radius: 10px;
        box-shadow: $color-shade 5px 5px 5px;
        padding: 0;

        h3 {
            border-radius: 10px 10px 0 0;
            text-align: left;
            font-size: 26px;
            text-shadow: $color-shade 3px 3px;

            .icon { 
                font-size: 1.2em;
                color: $color-light;
                margin-right: 40px;
            }
        }

        article {
            box-shadow: none;
            width: calc(100% - 10px);
            margin-left: 10px;

            ul { list-style: inside disc; }
        }
    }
}


// "CATÁLOGO DE PREMIOS"
#premios {
    .card {
        width: 100%;
        max-width: $breakpoint-md;
        margin: auto;
    }

    .card:nth-of-type(1) {
        background-color: #af462c;

        .card-small { 
            background-color: #ffdbd3; 
            font-weight: bold;
            
            i, p { color: #7d200c; }
        }
    }

    .card:nth-of-type(2) {
        background-color: #848484;

        .card-small {
            background-color: #e3e3e3;
            font-weight: bold;

            i, p { color: #4a4a4a; }
        }
    }

    .card:nth-of-type(3) {
        background-color: #d3b30f;

        .card-small {
            background-color: #fff5c5;
            font-weight: bold;

            i, p { color: #5d5010; }
        }
    }
}

// "GANADORES POR CATEGORÍA"
#ganadores {
    .article-card {
        width: 100%;
        max-width: $breakpoint-md;
        margin: auto;
    }

    .button { margin-top: 20px; }
}


// ======================================================== //
// === DEBUG (IGNORE) ===

// BORDERBOX
* { border: 0px solid red; }   

// RESPONSIVE 
body::after {
    color: #fff;
    text-shadow: #000 2px 1px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    z-index: 9999;
    pointer-events: none;
    content: "BREAKPOINT XL"; 
    background-color: magenta;
}
@include respond-to(lg) { 
    body::after { 
        content: "BREAKPOINT LG"; 
        background-color: orange;
    }
}
@include respond-to(md) { 
    body::after { 
        content: "BREAKPOINT MD"; 
        background-color: yellow;
    }
}
@include respond-to(sm) { 
    body::after { 
        content: "BREAKPOINT SM"; 
        background-color: cyan;
    }
}
body::after { content: none; }